.search__wrapper {
  position: relative;
  width: 100%;
  height: 60px;
  min-width: 350px;
  border-radius: 20px;
  background: transparent;
}

.search_button {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  padding: 0;
  border: 0;
  content: '';
  cursor: pointer;
  background:
    40px 40px
    rgba(255, 134, 142, 0.2)
    url(./../../../../../Dist/Content/RightPanel/SortPanel/loupe.svg);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
  margin: 10px;
}
