.switch {
  display: grid;
  justify-self: flex-end;
  align-self: center;
  width: max-content;
  height: 24px;
  grid-template-columns: auto auto auto;
  grid-template-areas:
  'indicator';
}

.switch_checkbox {
  height: 0;
	width: 0;
	visibility: hidden;
  cursor: pointer;
  padding: 0;
  background: rgba(255, 134, 142, 0.2);
  border-radius: 50px;
  border: none;
}

.switch_indicator {
  grid-area: indicator;
  width: 24px;
  height: 24px;
  background:
    center
    center
    no-repeat
    url('./../../../../../Dist/Content/LeftPanel/Header/eyeOpen.svg'),
    rgba(255, 255, 255, 1);
  border-radius: 50px;
  margin-right: 3px;
}

label {
  display: block;
  position: relative;
	width: 44px;
	height: 24px;
  cursor: pointer;
  background: rgba(255, 134, 142, 0.2);
  border-radius: 50px;
}

label:after {
	content: '';
	position: absolute;
	top: 4px;
	left: 5px;
	width: 16px;
	height: 16px;
  background: #FF868E;
	border-radius: 40px;
	transition: 0.2s;
}


.switch_checkbox:checked ~ .switch_indicator {
  background:
    center
    9px
    no-repeat
    url('./../../../../../Dist/Content/LeftPanel/Header/eyeClose.svg'),
    rgba(255, 255, 255, 0.05);
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}
