.lawCourt {
  position: relative;
  width: 100%;
  height: 50vh;
  min-height: 400px;
}

.lawCourt_image {
  width: 100%;
  height: 90%;
  max-height: 460px;
  border: none;
  border-radius: 20px;
  object-fit: cover;
}
