.title_first {
  font-size: 36px;
  line-height: 52px;
  margin: 20px 0;
}

.title_second {
  font-size: 20px;
  line-height: 30px;
  color: #8C8C8C;
  margin-bottom: 40px;
}

.second_link {
  text-decoration: none;
  color: #FF868E;
}
