@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');
.wrapper {
  display: grid;
  justify-self: center;
  height: 544px;
  width: 446px;
  padding: 15px;
  border-radius: 20px;
}

.appeal {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  font-family: Jost;
  font-style: normal;
}

.appeal_first {
  font-weight: 500;
  font-size: 44px;
  line-height: 58px;
}

.appeal_second {
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
}

.appeal_third {
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
}
